{{set . "title" "Logic Home"}}
{{append . "moreStyles" "/css/south-street/jquery-ui-1.10.3.custom.min.css"}}
{{append . "moreStyles" "/css/layout-default.css"}}
{{append . "moreScripts" "js/jquery-ui-1.10.3.custom.min.js"}}
{{append . "moreScripts" "js/jquery.layout-latest.js"}}
{{append . "moreScripts" "js/tz.json"}}
{{append . "moreScripts" "js/jstz-1.0.4.min.js"}}
{{append . "moreScripts" "js/Ractive.js"}}
{{append . "moreScripts" "js/noty/packaged/jquery.noty.packaged.min.js"}}
{{append . "moreScripts" "js/engine/object.js"}}
{{append . "moreScripts" "js/engine/objects.js"}}
{{append . "moreScripts" "js/engine/graphics.js"}}
{{append . "moreScripts" "js/engine/data_source.js"}}
{{append . "moreScripts" "js/TameSocket.js"}}
{{append . "moreScripts" "js/engine/backend_link.js"}}
{{append . "moreScripts" "js/engine/engine.js"}}
{{template "header.html" .}}
<div class='toolbar'>
    <button type="button" id="zoom_home_btn" class="tool btn btn-default btn-sm" onclick="zoom_extent();">
        <span title="Zoom Home" class="glyphicon glyphicon-home"></span>
    </button>
    <button type="button" id="zoom_in_btn" class="tool btn btn-default btn-sm" onclick="zoom_in();">
        <span title="Zoom In" class="glyphicon glyphicon-zoom-in"></span>
    </button>
    <button type="button" id="zoom_out_btn" class="tool btn btn-default btn-sm" onclick="zoom_out();">
        <span title="Zoom Out" class="glyphicon glyphicon-zoom-out"></span>
    </button>
    <button type="button" id='wire_btn' class="tool btn btn-default btn-sm" onclick="set_mode('add_pipe');">
        <span title="Wire" class="glyphicon glyphicon-pencil"></span>
    </button>
    <button type="button" id='unhook_btn' class="tool btn btn-default btn-sm" onclick="set_mode('unhook');">
        <span title="Unwire" class="glyphicon glyphicon-resize-full"></span>
    </button>
    <button type="button" id='delete_btn' class="tool btn btn-default btn-sm" onclick="set_mode('delete');">
        <span title="Delete" class="glyphicon glyphicon-remove"></span>
    </button>
    <button type="button" id='ptr_btn' class="tool btn btn-default btn-sm active" onclick="set_mode('none');">
        <span title="Pointer" class="glyphicon glyphicon-hand-up"></span>
    </button>
    <div class="pull-right">
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">IO<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li onclick="set_addmode('binput');"  class="btn">B Input</li>
                <li onclick="set_addmode('ainput');" class="btn">A Input</li>
                <li onclick="set_addmode('boutput');" class="btn">B Output</li>
                <li onclick="set_addmode('aoutput');" class="btn">A Output</li>
                <!--<li onclick="set_addmode('httpsource');" class="btn">HTTP Val</li>-->
            </ul>   
        </div>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Gates<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li onclick="set_addmode('notgate');" class="btn">Not</li>
                <li onclick="set_addmode('andgate');" class="btn">And</li>
                <li onclick="set_addmode('orgate');" class="btn"> Or </li>
                <li onclick="set_addmode('xorgate');" class="btn">XOr</li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Math<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li onclick="set_addmode('mult');" class="btn"> Mult</li>
                <li onclick="set_addmode('div');" class="btn"> Div</li>
                <li onclick="set_addmode('add');" class="btn">  Add</li>
                <li onclick="set_addmode('sub');" class="btn">  Sub</li>
                <li onclick="set_addmode('power');" class="btn"> Power</li>
                <li onclick="set_addmode('sine');" class="btn"> Sine</li>
                <li onclick="set_addmode('cosine');" class="btn">Cosine</li>
                <li onclick="set_addmode('conversion');" class="btn">Conversion</li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Conditional<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li onclick="set_addmode('agtb');" class="btn"> A > B</li>
                <li onclick="set_addmode('agteb');" class="btn"> A >= B</li>
                <li onclick="set_addmode('altb');" class="btn">  A < B</li>
                <li onclick="set_addmode('alteb');" class="btn"> A <= B</li>
                <li onclick="set_addmode('aeqb');" class="btn"> A == B</li>
                <li onclick="set_addmode('aneqb');" class="btn"> A != B</li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Utility<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li onclick="set_addmode('timerange');" class="btn"> Timerange </li>
                <li onclick="set_addmode('timebase');" class="btn"> Timebase </li>
                <li onclick="set_addmode('timer');" class="btn"> Timer </li>
                <li onclick="set_addmode('xyscope');" class="btn"> XYScope </li>
                <li onclick="set_addmode('alert');" class="btn">Alert</li>
                <li onclick="set_addmode('logger');" class="btn"> Logger </li>
                <li onclick="set_addmode('delay');" class="btn">Delay</li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">World<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li onclick="set_addmode('block');" class="btn"> Block </li>
                <li onclick="set_addmode('vbar');" class="btn"> Vert Bar </li>
                <li onclick="set_addmode('hbar');" class="btn"> Horz Bar </li>
                <li onclick="set_addmode('guide');" class="btn"> Terminal </li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">System<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li onclick="reset();" class="btn">Reset</li>
                <li onclick="location.reload();" class="btn">Reload</li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">View<span class="caret"></span></a>
            <ul class="dropdown-menu pull-right">
                <li onclick="set_guide('show');" class="btn">Show Term</li>
                <li onclick="set_guide('hide');" class="btn">Hide Term</li>
            </ul>
        </div>
        <!--<div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Engine<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li onclick="new_engine();" class="btn">New</li>
            </ul>
        </div>-->
    </div>
</div>
<div id='property_and_canvas'>
    <div id='property_sidebar' class='pane ui-layout-west'>
        <p>Hello! Welcome.</p>
        <ul id="property_area">
        </ul>
    </div>
    <div id='canvas_container' class='ui-layout-center ui-layout-content'><!--pane ui-layout-wrapper ui-layout-center-->
        <canvas class='' id="canvas"></canvas>
    </div>
    <!--<div class="clearfix"></div>-->
</div>
<div></div>
<script id="propertyTemplate" type="ractive"></script>
<script src="/public/js/engine/logic_ui.js"></script>
{{template "footer.html" .}}

