html {
    background: white;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial;
    color: #585621;
    background: #fff;
    margin: 0px;
    overflow: auto;
}

a {
    color: #666;
}
.label a {
    color: white;
}

/** Main **/

.fError, .fSuccess {
    text-align: center;
}

.fError {
    color: #c00;
}

.fSuccess {
    color: #0c0;
}

#content {
    margin: 0px;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right:0;
}


/** Header **/

#header {
    background: #fff url(../img/ph.png) 0px 45px no-repeat;
    color: #585621;
    position: relative;
}

#header h1 {
    margin: 0;
    background: #BDD949;
    color: #585621;
    border-bottom: 1px solid rgba(255,255,255,.5);
    font-weight: lighter;
    font-size: 20pt;
    padding: 0px 20px;
    text-shadow: 0 0 5px rgba(255,255,255,.5);
    line-height: 40px;
}

#header #options {
    position: absolute;
    right: 10px;
    top: 13px;
    color: #585621;
    font-size: 9pt;
}

#header a {
    color: #585621;
    text-decoration:none;
}

/** Login **/

#login {
    text-align: center;
}

#formLogin {
    border-bottom: 1px dashed #aaa;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

#formLogin label {
    text-align: right;
}

#formLogin p.buttons {
    text-align: center;
    background: none;
    margin-top: 0;
}

/** Table **/
table {
    width: 100%;
}
table,th,td {
    margin: 1px;
    padding: 5px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #aaa;
}
th {
    background: #eee !important;
}

/*td, th {
    padding: 5px;
    text-align: left;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}*/

/** Forms **/

label {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 5px;
}

form p {
    text-align: center;
    height: 20px;
}

form p.field {
    text-align: left;
    margin: 0 0 5px 0;
}

form strong {
    display: block;
    text-align: right;
    margin-right: 10px;
    background: #eee;
    padding: 2px;
}

form p {
    clear: both;
    text-align: left;
    margin: 7px 0;
    min-height: 15px;
}

form p.hasError {
    color: #c00;
}

form .hasError .error {
    font-size: 80%;
}

form .buttons {
    text-align: left;
    background: #dedede;
    /*padding: 10px;
    margin-top: 20px;*/
}
/** Footer **/

#footer {
    /*padding: 10px;*/
    font-size: 70%;
    border-top: 1px dotted #ccc;
    text-align: center;
}
#property_and_canvas {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}
#property_sidebar {
    width: 150px;
    height: 100%;
}
#property_sidebar ul {
    margin: 0px;
}
#canvas_container {
    box-sizing:content-box;
    -moz-box-sizing:content-box;
    overflow: auto;
}
#canvas {
    overflow: auto;
    width: auto;
    background-color: #F5FFFF;
    display: block;
}
.accordion-heading .accordion-toggle {
    padding: 0px;
}
.accordion-group .input-block-level {
    margin-bottom: 0px;
}
.accordion-heading a:focus {
    text-decoration: none;
}
.accordion-inner {
    padding: 0px;
}
.accordion-caret .accordion-toggle:hover {
    text-decoration: none;
}
.accordion-caret .accordion-toggle:hover span,
.accordion-caret .accordion-toggle:hover strong {
    text-decoration: underline;
}
.accordion-caret .accordion-toggle:before {
    font-size: 25px;
    vertical-align: -3px;
}
.accordion-caret .accordion-toggle:not(.collapsed):before {
    content: "▾";
    margin-right: 5px;
}
.accordion-caret .accordion-toggle.collapsed:before {
    content: "▸";
    margin-right: 5px;
}
.pane {
    display:    none; /* will appear when layout inits */
}
.panel {
    margin: 0px;
}
.panel-body {
	padding: 10px;
}

#chartdiv {
    width: 85%;
    min-height: 650px;
    display: inline-block;
    /*display: none;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
}
#periodSelect {
    /*display: none;*/
    display: inline-block;
    width: 15%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    padding-right: 10px;
}
#periodSelect span {
    display: inline;
    float: left;
    width: 50px;
}
#periodSelect ul {
    list-style-type: none;
    padding: 0px;
}
#periodSelect button {
    width: 100%;
}
.amChartsCompareList * {
    /*box-sizing: content-box;
    -moz-box-sizing: content-box;*/
}

.noscroll {
    overflow: hidden;
    position:fixed !important;
    position:absolute;
    top:45px;
    right:0px;
    bottom:0px;
    left:0px;
    margin: 0px;
}
.scrollinside {
    overflow: auto;
    height: 100%;
}
.loading-animation {
  display: inline-block;
  margin: 5em;
  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
     -moz-animation: spin 1s linear infinite;
       -o-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  border-style: solid;
  border-color: #444 transparent;
  position: absolute;
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
  }

@-moz-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
  }

@-o-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
  }

@keyframes spin {
  100% {  transform: rotate(359deg); }
  }