{{set . "title" "Home"}}
{{template "header.html" .}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>
  <div class="panel-body">
<div id="User List">
{{if .users}}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Real Name</th>
      <th>User ID</th>
      <th width="13%">Action</th>
    </tr>
  </thead>
  <tbody>
    {{range .users}}
    <tr>
      <td>{{.Username}}</td>
      <td>{{.Name}}</td>
      <td>{{.UserId}}</td>
      <td>
        <a href='{{url "Admin.EditUser" .UserId }}'>Edit</a>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
{{else}}
<p>
  No more results
</p>
{{end}}
<p>
    <a href='{{url "Admin.AddUser" }}'>Add User</a>
</p>
</div>
</div>
</div>
{{template "footer.html" .}}
