
{{set . "title" "Network Settings"}}
{{template "header.html" .}}

<div id="Device_List">
    <h2>Device List</h2>
{{if .network}}
<form method="post">
{{with $field := field "network.ConfigKey" .}}
<p>Network: {{$.network.ConfigKey}}</p>
<input type="hidden" name="{{$field.Name}}" value="{{$field.Value}}"/>
{{end}}

{{with $field := field "network.DevicePath" .}}
<p>Device: {{$.network.DevicePath}}</p>
<input type="hidden" name="{{$field.Name}}" value="{{$field.Value}}"/>
{{end}}

<p>Driver:
    {{with $field := field "network.Driver" .}}
    <select name="{{$field.Name}}">
        {{option $field $.network.Driver $.network.Driver}}
    {{range $.available_drivers}}
        {{option $field . .}} 
    {{end}}
    </select>
    {{end}}
</p>
<input type="submit" value="Save">
</form>
{{else}}
<p>
  Network not found.
</p>
{{end}}
</div>

{{template "footer.html" .}}
